body {
    font-family: 'Inter', sans-serif;
    background-color: #879EC7;
    margin: 0;
    padding: 0;
}

header {
    background-color: #879EC7;
    width: 100%;
    color: white;
    align-items: center;
    justify-content: center;
}

p {
    font-size: 24px;
    margin-bottom: 0rem;
}

h1 {
    font-size: 44px;
}

h2 {
    font-size: 44px;
    color: #FFFFFF;
}

h3 {
    font-size: 38px;
    margin-bottom: 0rem;
}

.Foto img{
    width: 600px;
    height: auto;
    margin-bottom: 2rem;
    margin-top: 4rem;
}

.TextoBranco h2 {
    color: #558DF0;
    margin-left: 4rem;
}

.TextoBranco h3 {
    color: black;
}

.TextoBranco p {
    margin-right: 4rem;
    margin-left: 4rem;
}

.TextoAzul p, h2, h3 {
    margin-left: 4rem;
    margin-right: 4rem;
    color: #FFFFFF;
}

.EstruturaHeader {
    align-items: center;
    justify-content: center;
    display: flex;
}

.TextoHeader h1 {
    background: linear-gradient(90deg, #8A5CB7, #C665C9);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.FotoHeader {
    display: flex;
}

.FotoHeader img {
    width: 400px;
    height: auto;
}

.TextoFooter {
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 2rem;
}

.Navegacao {
    background-color: #558DF0;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 120px;
    justify-content: center;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    padding: 5px 10px;
    transition: color 0.3s ease;
    font-weight: bold;
}

nav ul li a:hover {
    color: #8A5CB7;
}

.Introducao, .Prevencao, .Solucoes {
    background-color: white;
}

.EstruturaIntro, .EstruturaCausa, .EstruturaImp, .EstruturaPrev, .EstruturaSolu {
    justify-content: center;
    align-items: center;
    display: flex;
}

.EstruturaFooter {
    display: flex;
    margin-bottom: 4rem;
    text-align: center;
}

.Banner img{
    width: 500px;
    height: 800px;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente */
}